In [14]:
import pandas as pd
import numpy as np

In [8]:
#Creacion de un data frame a partir de un diccionario de datos
data = {
        'NOMBRES':['maria', 'jose', 'david', 'ivan'],
        'CARRERAS':['auditoria', 'informatica', 'derecho', 'idiomas'],
        'CORREOS':['maria@gmail.com', 'jose@gmail.com', 'david@gmail.com', 'ivan@gmail.com']
        }

In [5]:
estudiantes = pd.DataFrame(data)

In [7]:
estudiantes

  NOMBRES     CARRERAS          CORREOS
0   maria    auditoria  maria@gmail.com
1    jose  informatica   jose@gmail.com
2   david      derecho  david@gmail.com
3    ivan      idiomas   ivan@gmail.com

In [12]:
#creacion de un dataframe a partir de una lista
df_personas = pd.DataFrame([['maria',27],['david',34],['ana',20],['jose',15]], columns = ['nombre', 'edad'])

In [13]:
print(df_personas)

  nombre  edad
0  maria    27
1  david    34
2    ana    20
3   jose    15

In [17]:
#Data frame a partir de un array
#4 filas 3 columnas de numeros aleatorios
df_arr = pd.DataFrame(np.random.randn(4,3), columns = ['a', 'b', 'c'])

In [18]:
df_arr

          a         b         c
0  0.385228  0.111639  0.014507
1  0.739271  0.377924  0.165931
2  0.593627  0.734786  1.263358
3  2.140917  0.222485  2.396297