In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'AUTOS':['Nissan', 'Ford', 'Audi'], 'COLOR':['Blanco', 'Azul', 'Rojo']}).set_index('AUTOS')
df1

         COLOR
AUTOS
Nissan  Blanco
Ford      Azul
Audi      Rojo

In [3]:
df2 = pd.DataFrame({'AUTOS':['Nissan', 'Ford', 'Audi'], 'MODELO':[2018, 2020, 2022]}).set_index('AUTOS')
df2

        MODELO
AUTOS
Nissan    2018
Ford      2020
Audi      2022

In [4]:
#Realiza la mezcla con la serie 'AUTOS' del df
df = pd.merge(df1, df2, on = 'AUTOS')
df

         COLOR  MODELO
AUTOS
Nissan  Blanco    2018
Ford      Azul    2020
Audi      Rojo    2022

In [12]:
#En este ejemplo se modifica la clave de union de NISSAN -> Toyota
#df2 = pd.DataFrame({'AUTOS':['Nissan', 'Ford', 'Audi'], 'MODELO':[2018, 2020, 2022]}).set_index('AUTOS')
df2 = pd.DataFrame({'AUTOS':['Toyota', 'Ford', 'Audi'], 'MODELO':[2018, 2020, 2022]}).set_index('AUTOS')
df2

        MODELO
AUTOS
Toyota    2018
Ford      2020
Audi      2022

In [16]:
df = pd.merge(df1, df2, on = 'AUTOS', how = 'outer')
df

         COLOR  MODELO
AUTOS
Nissan  Blanco     NaN
Ford      Azul  2020.0
Audi      Rojo  2022.0
Toyota     NaN  2018.0