In [1]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({'AUTOS':['Nissan', 'Ford', 'Audi'], 'COLOR':['Blanco', 'Azul', 'Rojo']}).set_index('AUTOS')
df1

         COLOR
AUTOS
Nissan  Blanco
Ford      Azul
Audi      Rojo

In [11]:
df2 = pd.DataFrame({'AUTOS':['Nissan', 'Ford', 'Audi'], 'MODELO':[2018, 2020, 2022]}).set_index('AUTOS')
df2

        MODELO
AUTOS
Nissan    2018
Ford      2020
Audi      2022

In [14]:
df = pd.concat([df1, df2], axis = 1)
df

         COLOR  MODELO
AUTOS
Nissan  Blanco    2018
Ford      Azul    2020
Audi      Rojo    2022